html {
    font-family: Comic Sans MS;
}

h1, h2 {
    font-family: Papyrus;
    color: purple;
}

ul {
    list-style-type: none;
    background-color: gray;
}

li {
    display: inline-block;
    padding: 16px;
}

a {
    color: black;
}

li:hover {
    background-color: #aaa;
}

footer {
    background-color: #ddd;
    color: #555;
    text-align: center;
    padding: 16px;
}